{% extends 'base.html' %}
{% block title %}
    Login
{% endblock  %}
{% block content %}

 {% if request.user.is_authenticated %}


<h1 class="text-black dark:text-white">You are logged in</h1>
<p class="text-black dark:text-white">
    You can return <a href="{% url 'index' %}">Home</a>.
{% else %}



</p>

<div  class="w-full max-w-sm m-auto  p-6  mt-6  rounded-md shadow sm:p-8  bg-gray- dark:bg-slate-900 dark:text-gray-100" >
	<h2 class="mb-3 text-3xl font-semibold text-center">Login to your account</h2>
	<p class="text-sm text-center dark:text-gray-400">Dont have account?
		<a href="{% url 'register' %}" rel="noopener noreferrer" class="focus:underline hover:underline">Sign up here</a>
       
	</p>
	<div class="my-6 space-y-4">
		<button aria-label="Login with Google" type="button" class="flex items-center justify-center w-full p-4 space-x-4 border rounded-md focus:ring-2 focus:ring-offset-1 dark:border-gray-400 focus:ring-violet-400">
			
			<p>Login with Google</p>
		</button>
		

	</div>
	<div class="flex items-center w-full my-4">
		<hr class="w-full dark:text-gray-400">
		<p class="px-3 dark:text-gray-400">OR</p>
		<hr class="w-full dark:text-gray-400">
	</div>
	<form  method="post" action="{% url 'login' %} " class="space-y-8 ng-untouched ng-pristine ng-valid">
     
		{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %} 
			   <div class="alert alert-danger">
					<strong>{{ error|escape }}l</strong>
			   </div>
			{% endfor %}
		{% endfor %}
	 {% endif %}
            {% csrf_token %}
            <!-- {{ form.username.label }}
            <style>
                .username [type = text] {
                        border : 5px solid pink;
                }
                .usernam {
                    border : none;
                }
            </style>
            <p class="username">{{ form.username }}</p>
            
            <br>
            <br>
            {{ form.password.label }} -->
          {{form.as_p}}
		<!-- <div class="space-y-4">
			<div class="space-y-2">
				{{ form.username.errors }}
				<label for="text" class="block text-sm">{{ form.username.label }}</label>
                <p class="username ">
                    {{ form.username }}
                </p>
				
			</div>
			<div class="space-y-2">
				<div class="flex justify-between">
					{{ form.password.errors }}
					<label for="password" class="text-sm">{{ form.password.label }}</label>
			
				</div>
                <div class="" >{{ form.password }}</div>
				
			</div>
		</div> -->
		<!-- <button type="button" class="w-full  font-semibold rounded-md  dark:text-gray-400 text-black btn-primary  "><p class="py-6 "></p> Sign in</button> -->
        <input type="hidden" name="next" value="{{ next }}" />
        <!-- <p><input type="submit" value="Log-in"></p> -->
        <button type='submit' class="btn-primary w-full  rounded-md p-2">Login</button>
        <a rel="noopener noreferrer" href="{% url 'password_reset' %}" class="text-xs hover:underline dark:text-gray-400 text-center ">Forgot password?</a>
  
	</form>
</div>
{% endif %}
{% endblock content %}





