@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
    .btn-primary {
      @apply text-black dark:text-white border-2 border-black  dark:border-lime-100
    rounded-sm  cursor-pointer text-black ; 
    }



    .btn-p {
      @apply text-black dark:text-white p-2 rounded-md m-1 border-2 border-solid border-green-300 ;
    }


    .twitter-card {
      @apply mt-8 mb-8 rounded dark:bg-yellow-200  bg-yellow-900 px-6 py-8 sm:mt-10 sm:mb-10 md:px-10;
    
    }
    .img-fix {
      @apply mt-2 mb-2;
    }
  }