{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
{% block style %}
<style>

    *{
        margin:0;
        padding: 0px;
    }

</style>
{% endblock style %}

<body>
   <!-- <p>{{ request.path }}</p> -->
    <div class="header">
        {% if request.user.is_authenticated %}
        Hello {{ request.user.username }},
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}  
        {% if request.path == '/login/' %}
       <a href="/"> Home</a>
        {% else %}
        <a href="{% url 'login' %}">Log-in</a> or <a href="{% url 'register' %}">Register</a>
        {% endif %}
        {% endif %}
    </div>
    
</div>
{% block content %}{% endblock %}
</body>
</html>